$main-theme-color: #13161b;
$main-bg-color: #101216;
$left-sidebar-color: #15181e;

$std-btn-color: #2b303b;
$std-btn-label-color: #a0aaba;

$std-color: #a0aaba;
$highlight-color: #6294ff;

// top bar
$top-bar-height: 60px;

// to-do content
$padding-horizontal: 28px;
$padding-vertical: 26px;

// calendar view
$saturday-color: #6294ff;
$sunday-color: #f0838b;

// list view
$task-title-color: #edf1f7;

$left-sidebar-width: 232px;

$ease-out-elastic: cubic-bezier(0, 0.99, 0.57, 1.22);

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-45px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
