// global
$top-action-bar-height: 23px;
$top-content-header-height: 35px;

// colors
$highlight-color-super-dark: rgb(0, 28, 55);
$highlight-color-ultra-dark: rgb(0, 44, 85);
$highlight-color-extra-dark: rgb(0, 71, 138);
$highlight-color-dark-st: rgba(0, 104, 201, 0.274);
$highlight-color-dark: rgb(0, 104, 201);
$highlight-color: rgb(0, 132, 255);
$highlight-color-light: rgb(62, 162, 255);
$highlight-color-extra-light: rgb(135, 197, 255);
$highlight-color-ultra-light: rgb(195, 226, 255);
$highlight-color-super-light: rgb(232, 244, 255);

$highlight-color-st: rgba(0, 132, 255, 0.508);
$highlight-color-extra-st: rgba(0, 132, 255, 0.227);

$highlight-color-2: rgb(147, 0, 232);

$std-red-ultra-dark: rgb(107, 0, 0);
$std-red-extra-dark: rgb(158, 0, 0);
$std-red-dark: rgb(197, 0, 0);
$std-red: red;


// transitions
$general-linear-trans: 0.15s linear;
$general-ease-trans: 0.15s ease;

// box-shadows
$light-box-shadow: 0 0 3px 1px rgb(196, 196, 196);
$general-box-shadow: 0 0 5px 1px gray;

$content-bg: rgb(242, 242, 242);